@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body{font-family: 'Open Sans', 'Arial', 'Trebuchet MS', 'Verdana', sans-serif;background-color: #F9F9F9;}
h1, h2, h3, h4 {font-family:'Roboto', 'Arial', 'Trebuchet MS', 'Verdana', sans-serif;font-weight: bold;}
.navbar-default,footer{background-color:#0055A0;color:#fff;}
.navbar-default h1{margin-bottom:0;margin-top: 5px;font-size: 26px;}
.navbar-default h2{margin-top: 0;font-size: 20px}
.navbar-default .navbar-nav > li > a{color:#fff;font-size: 18px;padding: 23px 15px}
.navbar-default .navbar-nav > li > a:hover{background-color: #fff;color: #101010;-webkit-box-shadow: inset 0px -1px 10px 0px rgba(99,99,99,1);
-moz-box-shadow: inset 0px -1px 10px 0px rgba(99,99,99,1);
box-shadow: inset 0px -1px 10px 0px rgba(99,99,99,1);}
.to-top
{
    display:none;
    position:fixed;
    right:10px;
    bottom:10px;
}
